<!-- the trigger -->
<div class="curtain-menu-button" data-curtain-menu-button>
  <div class="curtain-menu-button-toggle toggle-visible" id="curtain-menu-button-toggle">
    <div class="bar1"></div>
    <div class="bar2"></div>
  </div>
</div>

<!-- the menu  -->
<div class="curtain-menu">
  <div class="curtain"></div>
  <div class="curtain"></div>
  <div class="curtain"></div>
  <div class="curtain-menu-wrapper">
    <ul class="curtain-menu-list menu vertical">
      <li><a href="index.html" id="curtain-home-link">Home</a></li>
      <li><a href="index.html#about" id="curtain-about-link">About</a></li>
      <li><a href="index.html#work" id="curtain-work-link">Work</a></li>
      <li><a href="index.html#contact" id="curtain-contact-link">Contact</a></li>
      <li><a href="https://www.displayblog.io" id="curtain-blog-link">Blog</a></li>
    </ul>
  </div>
</div>
